{% extends 'base.html' %}{% load access %}
{% block content %}<h1>{{ title }}</h1>
{% if request.user|may:'resources:brigade_group_create' %}<button type="button" class="btn btn-primary mb-3" data-catalog-open="brigade-{{ kind }}">+ Добавить</button>{% endif %}
<ul class="list-group">{% for record in records %}<li class="list-group-item">{{ record.name }}</li>{% empty %}<li class="list-group-item">Справочник пока пуст.</li>{% endfor %}</ul>
<a class="btn btn-secondary mt-3" href="{% url 'resources:brigade_list' %}">Бригады</a>
{% include 'resources/brigade_catalog_quick.html' %}{% endblock %}
